---
const { offre } = Astro.props;

---

<article class="offre" data-favori={offre.favori.toString()}>
  <h2 class="text-4xl font-bold">{offre.nomMaison}</h2>
  <p class="text-sm text-gray-600">{offre.adresse}</p>
  <a href={`/offres/${offre.id}`}>Voir plus</a>
</article>