
<footer class="bg-gray-800 text-white py-4 mt-4 py-18">
 <div class="container mx-auto flex justify-between items-center">
   <span class="text-sm">© 2026 Solène. Tous droits réservés.</span>
   <ul class="flex space-x-4">
     <li><a href="#" class="hover:underline">A propos</a></li>
     <li><a href="#" class="hover:underline">Politique de confidentialité</a></li>
     <li><a href="#" class="hover:underline">Contacter</a></li>
   </ul>
 </div>
</footer>